# Browsers that we support
# https://browsersl.ist/

# Modern browsers
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions

# Samsung Internet Browser (important for Samsung mobile devices)
last 3 Samsung versions
Samsung >= 12

# Mobile browsers
last 2 ChromeAndroid versions
last 2 iOS versions

# Exclude old IE
not IE 11
not dead
