<footer class="mt-16 border-t border-gray-800">
    <div class="container mx-auto py-8 px-4 sm:px-6 lg:px-8 text-center text-gray-500">
        <p>&copy; 2025 USM Tournois Master</p>
        <p class="text-xs mt-2">Développé avec ❤️ pour l'USMVB</p>
    </div>
</footer>
