# Version de la syntaxe Docker Compose
version: '3.8'

# Définition des services (conteneurs)
services:
  # Nom de notre service applicatif
  app:
    # Indique à Compose de construire l'image en utilisant le Dockerfile
    # dans le répertoire courant ('.')
    build: .
    # Nom du conteneur pour une identification facile
    container_name: tournoi_master_app
    # Redémarre automatiquement le conteneur s'il s'arrête
    restart: always
    # Mappage des ports: <port sur la machine hôte>:<port dans le conteneur>
    # On accède à l'app via http://localhost:3000
    ports:
      - "8050:3000"
    # Monte les volumes pour le développement
    # Le code local est synchronisé en temps réel dans le conteneur,
    # ce qui permet le hot-reloading (avec nodemon par exemple).
    volumes:
      - .:/app
      # Astuce : on ignore le dossier node_modules local pour utiliser celui
      # qui a été installé DANS le conteneur, pour éviter les conflits de systèmes d'exploitation.
      - /app/node_modules
    # Charge les variables d'environnement depuis le fichier .env
    env_file:
      - .env


